[Desktop Entry]
Terminal=false
Type=Application
Categories=PackageManager;System;Settings;
Name=Software Boutique
Comment=Discover and install software from a collection that compliments MAX MATE.
Exec=max-mate-welcome --boutique
Icon=max-applicaciones
StartupNotify=false
