[Desktop Entry]
Type=Application
Name=+Aplicaciones
Comment=Discover and install more software for MAX
Comment[es]=Descubre e instala nuevo software para MAX
Exec=max-mate-welcome --boutique
Terminal=false
Icon=max-applicaciones
StartupNotify=false
Categories=PackageManager;System;Settings;
