[Desktop Entry]
Version=1.0
Name=MAX MATE Welcome
Comment=MAX MATE Welcome autostart
Categories=
Terminal=false
Type=Application
Exec=max-mate-welcome --autostart
OnlyShowIn=MATE;
StartupNotify=false
NoDisplay=true
X-MATE-Autostart-Delay=10
