#!/usr/bin/make -f

%:
	dh $@ 

override_dh_prep:
	./welcome-po.py --update-pos
	./welcome-po.py --install
	./edgar-allan translate-all

#	# check JSON syntax
#	python3 -mjson.tool data/js/applications.json >/dev/null


override_dh_install:
	ls debian/max-mate-welcome/usr/share/max-mate-welcome/ || true

	dh_install
	rm -rf debian/max-mate-welcome/usr/share/max-mate-welcome/po

	ls debian/max-mate-welcome/usr/share/max-mate-welcome/ || true

